.container {
    width: 100vw;
    height: 100vh;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 400px;
    height: 400px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.chip {
    background-color: aqua;
    width: 100px;
    height: 100px;
}